.ex{
    background-color: $color-sixieme;
    align-items: center;
    display: flex;
    flex-direction: column;
    &__titre{
        margin: 0;
        text-align: center;
        padding: 28px 0 10px 0;
    }
    &__text{
        margin: 0;
        text-align: center;
        font-size: 18px;
        padding-bottom: 24px;
    }
    &__link{
        @include btn;
        margin-bottom: 45px;
    }
}