.fonc{
    @include desktop{
        padding: 25px 0 25px 0;
    }
    &__titre{
        font-size: 20px;
        padding-left: 10px;
        @include desktop{
            text-align: center;
            font-size: 25px;
        }
    }
    &__liste{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include desktop{
            flex-direction: row;
            justify-content: space-around;
        }
    }
    &__element{
        display: block;
        text-decoration: none;
        padding: 1.3rem;
        background-color: $color-sixieme;
        width: 78%;
        margin-bottom: 15px;
        border-radius: 23px;
        box-shadow: 2px 2px 7px gray;
        @include desktop{
            width: 24%;
        }
        &--chiffre{
            padding: 1px 7px;
            border-radius: 50px;
            margin-left: -29px;
            background-color: $color-primaire;
            color: white;
            font-family: 'Roboto';
            font-size: 17px;
        }
        &--icone{
            color: gray;
            padding-left: 15px;
            font-size: 20px;
        }
        &--text{
            padding-left: 15px;
            color: black;
            font-size: 17px;
            font-family: "Roboto-black";
        }

    }
}