#home{
    .header{
        &__titre{
            margin: 0;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;   
            }
        }
    }
#resto{
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__titre{
            margin: 0;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        &__icon{
            position: absolute;
            left: 4%;
            top: 2%;
            font-size: 18px;
            text-decoration: none;
            color: black;
        }
    }
}