#home{
    .header{
        &__titre{
            margin: 0;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;   
            }
        }
    }
#resto{
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__titre{
            margin: 0;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            font-size: 24px;
            padding-bottom: 6px;
            @include desktop{
                font-size: 49px;
            }
        }
        &__icon{
            position: absolute;
            left: 5%;
            top: 2%;
            font-size: 20px;
            text-decoration: none;
            color: black;
            @include desktop{
                top: 3%;
                font-size: 26px;
            }
        }
    }
}