.resto{
    .resto-selecteur{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        &__img1{
            background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            @include imgresto;
            &--text{
                padding: 2px 7px;
                background-color: $color-tertiaire;
                height: 13%;
                margin: 6%;
                color: rgb(0, 135, 102);
            }
        }
        &__img4{
            background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
            @include imgresto;
        }
        &__img2{
            background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
            height: 151px;
            background-repeat: no-repeat;
            background-position: 4px -133px;
            width: 85%;
            background-size: cover;
            display: flex;
            justify-content: flex-end;   
        }
        &__img3{
            background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
            @include imgresto;
        }
    }
}