.resto{
    background-color: $color-sixieme;
    padding-bottom: 45px;
    @include desktop{
        display: flex;
        flex-wrap: wrap;
    }
    h3{
        padding: 38px 0 0 26px;
        @include desktop{
            width: 100%;
            text-align: center;
            font-size: 28px;
            padding-bottom: 30px;   
        }
    }
    .resto-selecteur{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        width: 88%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 2px 2px 7px grey;
        @include desktop{
            width: 34%;
        }
        &__img1{
            background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            @include imgresto;
            &--text{
                padding: 2px 7px;
                background-color: $color-tertiaire;
                height: 13%;
                margin: 6%;
                color: rgb(0, 135, 102);
                @include desktop{
                    height: 10%;
                    font-size: 22px;
                }
            }
        }
        &__img4{
            background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
            @include imgresto;
        }
        &__img2{
            background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
            @include imgresto (0px -145px); 
            @include desktop{
                background-position: 0px;
            }  
        }
        &__img3{
            background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
            @include imgresto;
        }
        &__name{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 93%;
            @include desktop{
                width: 72%;
            }
            &--icones{
                align-self: center;
                font-size: 20px;
                color: gray;
                @include desktop{
                    font-size: 27px;
                }
            }
            &--text{
                font-family: 'Roboto';
                color: gray;
                @include desktop{
                    font-size: 21px;
                }
                strong{
                    color: black;
                }
            }
        }
    }
}