.titre1{
    @include imgtitre (url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg));
    &__button{
        display: flex;
        flex-direction: row;
        padding: 26px 0 0 0;
        background-color: $color-sixieme;
        border-radius: 38px 38px 0 0;
        margin-bottom: -15px;
        &--text{
            margin: 0;
            font-family: 'Shrikhand';
            font-size: 26px;
            padding-left: 15px;
        }
        &--icon{
            font-size: 25px;
            color: gray;
            align-self: center;
            padding-left: 108px;
        }
    } 
} 
.titre2{
    @include imgtitre (url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg));
    &__button{
        display: flex;
        flex-direction: row;
        padding: 26px 0 0 0;
        background-color: $color-sixieme;
        border-radius: 38px 38px 0 0;
        margin-bottom: -15px;
        &--text{
            margin: 0;
            font-family: 'Shrikhand';
            font-size: 23px;
            padding-left: 15px;
        }
        &--icon{
            font-size: 25px;
            color: gray;
            align-self: center;
            padding-left: 89px;
        }
    } 
}
.titre3{
    @include imgtitre (url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg));
    &__button{
        display: flex;
        flex-direction: row;
        padding: 26px 0 0 0;
        background-color: $color-sixieme;
        border-radius: 38px 38px 0 0;
        margin-bottom: -15px;
        &--text{
            margin: 0;
            font-family: 'Shrikhand';
            font-size: 25px;
            padding-left: 17px;
        }
        &--icon{
            font-size: 25px;
            color: gray;
            align-self: center;
            padding-left: 62px;
        }
    } 
}
.titre4{
    @include imgtitre (url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg),0px);
    &__button{
        display: flex;
        flex-direction: row;
        padding: 26px 0 0 0;
        background-color: $color-sixieme;
        border-radius: 38px 38px 0 0;
        margin-bottom: -15px;
        &--text{
            margin: 0;
            font-family: 'Shrikhand';
            font-size: 25px;
            padding-left: 15px;
        }
        &--icon{
            font-size: 25px;
            color: gray;
            align-self: center;
            padding-left: 43px;
        }
    } 
}      
