.titre1{
    @include imgtitre (url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg));
    @include desktop{
        height: 369px;
        flex-direction: row-reverse;
        justify-content: unset;
        background-position: 0px -375px;
    }
    &__button{
        display: flex;
        flex-direction: row;
        padding: 26px 0 0 0;
        background-color: $color-sixieme;
        border-radius: 38px 38px 0 0;
        margin-bottom: -15px;
        @include desktop{
            padding: unset;
            margin-bottom: unset;
            width: 37%;
            margin-top: 222px;
        }
        &--text{
            margin: 0;
            font-family: 'Shrikhand';
            font-size: 26px;
            padding-left: 15px;
            @include desktop{
                font-size: 37px;
                align-self: center;
                padding-left: 25px;
            }
        }
        &--icon{
            font-size: 25px;
            color: gray;
            align-self: center;
            padding-left: 97px;
            .fa-heart{
                @include coeur-anim;
                cursor: pointer;
            }
        }
    } 
} 
.titre2{
    @include imgtitre (url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg));
    @include desktop{
        height: 369px;
        flex-direction: row-reverse;
        justify-content: unset;
        background-position: 0px -375px;
    }
    &__button{
        display: flex;
        flex-direction: row;
        padding: 26px 0 0 0;
        background-color: $color-sixieme;
        border-radius: 38px 38px 0 0;
        margin-bottom: -15px;
        @include desktop{
            padding: unset;
            margin-bottom: unset;
            width: 37%;
            margin-top: 222px;
        }
        &--text{
            margin: 0;
            font-family: 'Shrikhand';
            font-size: 26px;
            padding-left: 15px;
            @include desktop{
                font-size: 37px;
                align-self: center;
                padding-left: 25px;
            }
        }
        &--icon{
            font-size: 25px;
            color: gray;
            align-self: center;
            padding-left: 42px;
            .fa-heart{
                @include coeur-anim;
                cursor: pointer;
            }
        }
    } 
} 
.titre3{
    @include imgtitre (url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg));
    @include desktop{
        height: 369px;
        flex-direction: row-reverse;
        justify-content: unset;
        background-position: 0px -375px;
    }
    &__button{
        display: flex;
        flex-direction: row;
        padding: 26px 0 0 0;
        background-color: $color-sixieme;
        border-radius: 38px 38px 0 0;
        margin-bottom: -15px;
        @include desktop{
            padding: unset;
            margin-bottom: unset;
            width: 37%;
            margin-top: 222px;
        }
        &--text{
            margin: 0;
            font-family: 'Shrikhand';
            font-size: 26px;
            padding-left: 15px;
            @include desktop{
                font-size: 37px;
                align-self: center;
                padding-left: 25px;
            }
        }
        &--icon{
            font-size: 25px;
            color: gray;
            align-self: center;
            padding-left: 42px;
            .fa-heart{
                @include coeur-anim;
                cursor: pointer;
            }
        }
    } 
} 
.titre4{
    @include imgtitre (url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg),0px);
    @include desktop{
        height: 369px;
        flex-direction: row-reverse;
        justify-content: unset;
        background-position: 0px -764px;
    }
    &__button{
        display: flex;
        flex-direction: row;
        padding: 26px 0 0 0;
        background-color: $color-sixieme;
        border-radius: 38px 38px 0 0;
        margin-bottom: -15px;
        @include desktop{
            padding: unset;
            margin-bottom: unset;
            width: 38%;
            margin-top: 222px;
        }
        &--text{
            margin: 0;
            font-family: 'Shrikhand';
            font-size: 26px;
            padding-left: 15px;
            @include desktop{
                font-size: 37px;
                align-self: center;
                padding-left: 25px;
            }
        }
        &--icon{
            font-size: 25px;
            color: gray;
            align-self: center;
            padding-left: 42px;
            .fa-heart{
                @include coeur-anim;
                cursor: pointer;
            }
        }
    } 
} 
