@font-face{
    font-family: "Roboto";
    src: url(../../font/Roboto-Regular.ttf);
    font-display: swap;
}
@font-face{
    font-family: "Roboto-bold";
    src: url(../../font/Roboto-Bold.ttf);
    font-display: swap;
}
@font-face{
    font-family: "shrikland";
    src: url(../../font/Shrikhand-Regular.ttf);
    font-display: swap;
}
h1{
        font-family: "shrikland", sans-serif ;
        font-size: 1.5rem;
}