#home{
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
    
    &::before{
        content:"Ohmyfood";
        font-family: 'Shrikhand';
        position: absolute;
        top: 45%;
        opacity: 1;
        width: 100%;
        text-align: center;
        z-index: 1;
        font-size: 27px;
        transform: scale(0) rotate(0deg);
        animation: load 5s both ease-in-out;
        max-width: 1250px;
        @include desktop {
        top:50%   
        }
       
    }
    &::after{
        content: "";
        width: 100%;
        background-color: $color-tertiaire;
        opacity: 1;
        position: absolute;
        transform: rotate(360deg);
        top: 27%;
        text-align: center;
        padding-top: 150px;
        padding-bottom: 150px;
        animation: load 5s both ease-in-out;
        z-index: 0;
        max-width: 1250px;
       
    }
    .load{
        opacity: 0;
        animation: home 5s both ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        max-width: 1250px;
        margin-right: auto;
        margin-left: auto;
    }  
}
#resto{
    max-width: 1250px;
    margin-right: auto;
    margin-left: auto;
}