@mixin btn {
    text-decoration: none;
    display: block;
    padding: 0.8rem;
    color: white;
    width: 165px;
    border-radius: 28px;
    text-align: center;
    background: $color-btn;
    box-shadow: 2px 2px 7px gray;
    transition: all 600ms;
    &:hover{
        background: $color-btn-lighten;
        box-shadow: 7px 7px 7px gray;
    }
    @include desktop{
        padding: 1.8rem;
        width: 195px;
        border-radius: 42px;
        font-size: 24px;
        margin-bottom: 45px;
    }
}
@mixin imgresto ($position: 0px -50px){
    height: 160px;
    background-repeat: no-repeat;
    background-position: $position;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    border-radius: 20px 20px 0px 0px;
    @include desktop{
        height: 272px;
        background-position: unset;
    }
}
@mixin imgtitre ($image,$position:-25px 0px){
    background-image: $image;
    height: 270px;
    background-position: $position;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@mixin coeur-anim {
    &::before{
        content: "\f004";
        color: gray;
        position: absolute;
    }
    &::after{
        content: "\f004";
        color: white;
        font-weight: bold;
        transition: color 800ms ease-out;
    }
    &:hover{
        &::after{
            color: $color-primaire;
        }   
    }   
}
@mixin desktop {
    @media screen and (min-width: 1023px){
        @content;
    }
}
@mixin xl{
    @media screen and (min-width: 1500px){
        @content;
    }
}
@mixin plat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 88%;
    margin-bottom: 18px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 7px grey;
    overflow: hidden;

    @include desktop{
        width: 100%;
        height: 68px;
    }
    span{
        font-family: 'Roboto-Black';
        font-size: 14px;
        display: block;
        transform: translateX(80%);
        background-color: white;
        padding: 21px 0px 0px 0px;
        transition: transform 600ms ease-in-out;
        margin-left: 10px;
        position: absolute;
        right: 3%;

        @include desktop{
            align-self: center;
            font-size: 20px;
            transform: translateX(376px);
            padding-top: 30px;
            top: inherit;
            right: inherit;
        }
        @include xl{
            transform: translateX(458px);
        }
        &::after{
            content: "";
            background-color: $color-tertiaire;
            padding: 50px 40px 20px 27px;
            margin-left: 20px;
            
        }
    }
    &::after{
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f058";
        align-self: center;
        font-size: 23px;
        color: white;
        transform: translateX(207%) rotate(90deg);
        position: absolute;
        left: 87%;
        transition: transform 600ms ease-in-out;
        @include desktop{
            left: 90%;
        }
    }
    p{
        margin: 0;
        font-family: 'Roboto';
        color: gray;
        font-size: 14px;
        width: 270px;
        height: 38px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: width 600ms ease-in-out;
        @include desktop{
            font-size: 18px;
            height: 47px;
            width: 350px;
        }
        strong{
            font-family: 'Roboto-black';
            color: black;
            font-size: 17px;
            @include desktop{
                font-size: 23px;
            }
        
        }
    }
    &:hover{
        &::after{
            transform: translateX(0%) rotate(360deg);
        }
        span{
             transform: translateX(11%);
             @include desktop{
                 transform: translateX(306px);
             }
             @include xl{
                 transform: translateX(382px);
             }
        }
        P{
            width: 200px;
            @include desktop{
                width: 300px;
            }
        }
    }
    
    
}
