@mixin btn {
    text-decoration: none;
    display: block;
    padding: 0.8rem;
    color: white;
    width: 165px;
    border-radius: 28px;
    text-align: center;
    background: $color-btn;
    box-shadow: 2px 2px 7px gray;
    transition: all 600ms;
    &:hover{
        background: $color-btn-lighten;
        box-shadow: 7px 7px 7px gray;
    }
    @include desktop{
        padding: 1.8rem;
        width: 195px;
        border-radius: 42px;
        font-size: 24px;
        margin-bottom: 45px;
    }
}
@mixin imgresto ($position: 0px -50px){
    height: 160px;
    background-repeat: no-repeat;
    background-position: $position;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    border-radius: 20px 20px 0px 0px;
    @include desktop{
        height: 272px;
        background-position: unset;
    }
}
@mixin imgtitre ($image,$position:-25px 0px){
    background-image: $image;
    height: 270px;
    background-position: $position;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@mixin coeur-anim {
    &::before{
        content: "\f004";
        color: gray;
        position: absolute;
    }
    &::after{
        content: "\f004";
        color: white;
        font-weight: bold;
        transition: color 800ms ease-out;
    }
    &:hover{
        &::after{
            color: $color-primaire;
        }   
    }   
}
@mixin desktop {
    @media screen and (min-width: 1023px){
        @content;
    }
}
