@mixin btn {
    text-decoration: none;
    display: block;
    padding: 0.8rem;
    color: white;
    width: 165px;
    border-radius: 28px;
    text-align: center;
    background: linear-gradient(173deg, $color-secondaire, $color-primaire);
    box-shadow: 2px 2px 7px gray;
}
@mixin imgresto ($position: 0px -50px){
    height: 160px;
    background-repeat: no-repeat;
    background-position: $position;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    border-radius: 20px 20px 0px 0px;
}
@mixin imgtitre ($image,$position:-25px 0px){
    background-image: $image;
    height: 270px;
    background-position: $position;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
